@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400&display=swap');
/** COLORS

Salmon: #ff4d4d;
Pink: #ee1c4e;
Gray: #484848;

**/

body {
    font-family: 'Avenir';
    font-weight: 300;
    margin: 0;
    height: 100%;
}

.img-wrapper {
    display: inline-block;
    overflow: hidden;
}