@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:300,400&display=swap');
/** COLORS

Salmon: #ff4d4d;
Pink: #ee1c4e;
Gray: #484848;

**/

body {
    font-family: 'Avenir';
    font-weight: 300;
    margin: 0;
    height: 100%;
}

.img-wrapper {
    display: inline-block;
    overflow: hidden;
}

img {
    transform:scale(3);
    -ms-transform:scale(3); /* IE 9 */
    -moz-transform:scale(3); /* Firefox */
    -webkit-transform:scale(3); /* Safari and Chrome */
    -o-transform:scale(3); /* Opera */
}

footer{
    background: #666666;
    background-image: url(bg-seal.png);
    background-repeat: no-repeat;
    background-position-x: 10px;
    background-position-y: 10px;
    background-size: 500px;
}